const mongoDBConfig = {
  dbName: 'jwt-experiment',
  DBUrl: 'mongodb://localhost'
}

const jwt = {
  secretKey: 'bydr28uldil8q7330rpy47y0a5w0c9uw0hzw9le24myk5vcviozcoma'
}
export { mongoDBConfig, jwt }
